@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

/**********************************************
                Global styles
**********************************************/
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #fff;
  --secondary-color: #000;
  --background-color: #1751e2;
}

body {
  position: relative;
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
  padding-bottom: 60px;
  background-color: var(--background-color);
  color: var(--primary-color);
  user-select: none;
}

a {
  text-decoration: none;
  color: inherit;
}

/**********************************************
                Specific styles
**********************************************/
.my-header {
  padding: 10px;
}
.menu-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
}
.svg-container {
  width: 20px;
  height: 20px;
}
.my-header svg {
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.menu-btn {
  padding: 0 18.7px;
  font-size: 2rem;
  font-weight: bold;
  cursor: pointer;
}
.menu-btn:hover {
  color: #ccc;
}
.close {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  cursor: pointer;
  z-index: 1;
}

h1 {
  font-size: 1.2rem;
  margin-left: 5px;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
#home-btn {
  cursor: pointer;
}
.info-div {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 40px 30px 40px;
  background-color: var(--secondary-color);
  cursor: pointer;
}
.info-div-content {
  position: absolute;
  top: 70px;
  left: 50px;
  right: 50px;
  padding: 50px 50px 100px;
  background-color: var(--secondary-color);
  z-index: 4;
}
.infoContentBtn {
  position: absolute;
  bottom: 20px;
  right: 50px;
  padding: 10px 20px;
  cursor: pointer;
  border: none;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  z-index: 5;
}

.home-page {
  display: flex;
  flex-wrap: wrap;
  height: calc(133.333vw);
}
.home-page .content {
  cursor: pointer;
}
.home-page .content:active {
  position: relative;
  top: 2px;
  left: 2px;
}
section {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 66.666%;
}

.field {
  border-top: 5px solid var(--secondary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 50%;
}
.new_match,
.menage_players {
  border-right: 2.5px solid var(--secondary-color);
}

.resume_match,
.menage_teams {
  border-left: 2.5px solid var(--secondary-color);
}

.content svg {
  display: block;
  height: 50px;
  margin: auto;
}
.content p {
  margin-top: 30px;
  text-align: center;
}

aside {
  border-top: 5px solid var(--secondary-color);
  border-bottom: 5px solid var(--secondary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 33.333%;
}

/* New Match */
.new-match-svg {
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
}
.new-match-svg svg {
  cursor: pointer;
}
.new-match-page {
  width: 100%;
  height: 100%;
}
.new-match-body-header {
  width: 100%;
  min-height: 50px;
  padding: 10px 0;
  border-top: 5px solid var(--secondary-color);
  text-align: center;
}
.new-match-body {
  position: relative;
  width: 100%;
  height: 62vh;
  padding: 10px;
  background-color: var(--secondary-color);
}
#start-match-btn {
  position: absolute;
  bottom: 5px;
  left: 0;
  right: 0;
  display: block;
  width: 100%;
  padding: 10px 0;
  text-align: center;
  background-color: var(--background-color);
  cursor: pointer;
}

/* Select player */
.select-player-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.select-player-svg {
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
}
.select-player-page {
  width: 100%;
  height: 100%;
}
.select-player-body {
  position: relative;
  width: 100%;
  height: 79vh;
  padding: 10px;
  background-color: var(--secondary-color);
}

/* Add player */
.add-player-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.add-player-svg {
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
}
.add-player-page {
  width: 100%;
  height: 100%;
}
.add-player-body {
  position: relative;
  width: 100%;
  height: 79vh;
  padding: 10px;
  background-color: var(--secondary-color);
}
.add-player-body input {
  border: none;
  outline: none;
  color: var(--primary-color);
  background-color: var(--secondary-color);
  font-size: 1rem;
}
.add-player-body hr {
  margin-bottom: 10px;
}
.add-player-body .bottomBtn {
  position: absolute;
  bottom: 5px;
  display: block;
  width: 50%;
  padding: 10px 0;
  text-align: center;
  color: var(--primary-color);
  background-color: var(--background-color);
  cursor: pointer;
}
.add-player-body #cancelBtn {
  left: 0;
}
.add-player-body #okBtn {
  right: 0;
}
#errBox {
  color: red;
}

/* Start match page*/
#start-match-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.start-match-svg {
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
}
.start-match-page {
  width: 100%;
  background-color: var(--secondary-color);
}
.start-match-body {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  width: 100%;
  padding: 10px;
  background-color: var(--secondary-color);
}
.player-box {
  min-width: 48%;
  height: 175px;
  text-align: center;
  background-color: #222222;
}

.player-name-box {
  width: 100%;
  padding: 5px 0;
  border: 1px solid #ccc;
  background-color: #141414;
}
.current-player .player-name-box {
  color: greenyellow;
  border-color: greenyellow;
}
.legs-box {
  padding: 5px 0;
}
.player-score-box {
  width: 90%;
  margin: auto;
  padding: 5px 0;
  border: 1px solid #000;
  border-radius: 10px;
  background-color: var(--background-color);
  font-size: 2rem;
}
.to-play-box {
  padding: 5px 0;
}

/* Keyboard */
.start-match-keyboard {
  width: 100%;
}
.start-match-keyboard table {
  max-width: 500px;
  height: 200px;
  margin: auto;
  text-align: center;
  font-size: 1.5rem;
}
.start-match-keyboard table,
td {
  border: 5px solid var(--secondary-color);
  border-collapse: collapse;
  background-color: var(--background-color);
}
.start-match-keyboard table td {
  width: 150px;
  cursor: pointer;
}
.start-match-keyboard table td:active {
  position: relative;
  top: 1px;
  left: 1px;
}
.start-match-keyboard table td:hover {
  color: var(--secondary-color);
}

/* Footer */
#myFooter {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
  text-align: center;
}
/*********************************************
               @media Queries
*********************************************/
/* @media print {} */

@media all and (min-width: 576px) {
  .my-header {
    position: relative;
    width: 550px;
    margin: auto;
  }
  .home-page,
  .new-match-page,
  .select-player-page,
  .add-player-page,
  .start-match-page {
    width: 550px;
    height: 768px;
    margin: auto;
  }
  .new-match-body {
    height: 650px;
    margin: auto;
  }
  .new-match-body-header {
    border: 5px solid var(--secondary-color);
    margin: 0 auto 5px;
  }
  #start-match-btn {
    width: 90%;
    margin: 0 auto 5px;
  }
  .add-player-body .bottomBtn {
    width: 40%;
  }
  .start-match-keyboard {
    padding-top: 15%;
  }
  .new_match,
  .menage_players {
    border-left: 5px solid var(--secondary-color);
  }

  .resume_match,
  .menage_teams {
    border-right: 5px solid var(--secondary-color);
  }
  aside {
    border-right: 5px solid var(--secondary-color);
    border-left: 5px solid var(--secondary-color);
  }
}
