@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  min-height: 100vh;
  padding-bottom: 60px;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #ffffff;
  background-color: #1751e2;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  user-select: none;
  scroll-behavior: smooth;
}
body a {
  text-decoration: none;
  color: inherit;
}
body ul li {
  list-style: none;
}

.my-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 60px;
  padding-left: 10px;
}
.my-header h1 {
  font-size: 1.2rem;
  margin-left: 5px;
}
.my-header .menu-btn {
  padding: 0 18.7px;
  font-size: 2rem;
  font-weight: bold;
  cursor: pointer;
}
.my-header svg {
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.my-header .menu-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
}
.my-header .menu-content .svg-container {
  width: 20px;
  height: 20px;
}
.my-header .info-div {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 40px 30px 40px;
  background-color: #000000;
  cursor: pointer;
  z-index: 2;
}
.my-header .info-div .close {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  cursor: pointer;
  z-index: 1;
}
.my-header .info-div .name-select-user {
  cursor: crosshair;
  color: yellow;
  font-weight: bold;
}
.my-header .info-div .sel-players:hover {
  text-decoration: underline;
  color: #ccc;
}
.my-header .info-div-content,
.my-header .length-div-content {
  position: absolute;
  top: 60px;
  left: 0;
  right: 0;
  padding: 50px 50px 100px;
  background-color: #000000;
  font-size: 0.8rem;
  z-index: 4;
}
.my-header .info-div-content .infoContentBtn,
.my-header .length-div-content .infoContentBtn {
  position: absolute;
  bottom: 20px;
  right: 50px;
  padding: 10px 20px;
  cursor: pointer;
  border: none;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  z-index: 5;
}
.my-header .length-div-content {
  text-align: center;
}
.my-header .length-div-content label {
  font-size: 1.2rem;
  margin: 10px;
}
.my-header .length-div-content input {
  width: 40px;
  height: 40px;
  font-size: 1.2rem;
  font-weight: bold;
  border: none;
  text-align: center;
  border-radius: 50%;
}
.my-header .length-div-content .setBtn {
  display: block;
  padding: 10px 30px;
  border-radius: 5px;
  font-size: 1rem;
  margin: 50px auto 0;
  cursor: pointer;
}
.my-header .length-div-content .setBtn:hover {
  background-color: #cccccc;
  font-weight: bold;
}
.my-header .length-div-content .setBtn:active {
  position: relative;
  top: 1px;
  left: 1px;
}

.home-page {
  display: flex;
  flex-wrap: wrap;
  height: 133.333vw;
}

.home-page .content {
  cursor: pointer;
}
.home-page .content:active {
  position: relative;
  top: 2px;
  left: 2px;
}
.home-page .content svg {
  display: block;
  height: 50px;
  margin: auto;
}
.home-page .content p {
  margin-top: 30px;
  text-align: center;
}
.home-page section {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 66.666%;
}
.home-page section .field {
  border-top: 5px solid #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 50%;
}
.home-page section .new_match,
.home-page section .menage_players {
  border-right: 2.5px solid #000000;
}
.home-page section .resume_match,
.home-page section .menage_teams {
  border-left: 2.5px solid #000000;
}
.home-page aside {
  border-top: 5px solid #000000;
  border-bottom: 5px solid #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 33.333%;
}

.new-match-page .new-match-body-header {
  width: 100%;
  min-height: 50px;
  padding: 10px 0;
  border-top: 5px solid #000000;
  text-align: center;
}
.new-match-page .new-match-body-header .set-match-length {
  cursor: pointer;
}
.new-match-page .new-match-body-header .set-match-length:hover {
  color: #cccccc;
}
.new-match-page .new-match-body-header .set-match-length:active {
  position: relative;
  top: 1px;
  left: 1px;
}
.new-match-page .new-match-body {
  position: relative;
  width: 100%;
  height: 508px;
  padding: 10px;
  background-color: #000000;
}
.new-match-page .new-match-body #start-match-btn {
  position: absolute;
  bottom: 5px;
  left: 0;
  right: 0;
  display: block;
  width: 100%;
  padding: 10px 0;
  text-align: center;
  background-color: #1751e2;
  color: #ffffff;
  cursor: pointer;
}
.new-match-page .new-match-body #start-match-btn:hover {
  color: #cccccc;
}
.new-match-page .new-match-body .error {
  position: absolute;
  top: 20px;
  left: 0;
  right: 0;
  text-align: center;
  color: #dc3545;
}

.select-player-page .select-player-body,
.select-player-page .select-team-body {
  position: relative;
  width: 100%;
  height: 611px;
  padding: 10px;
  background-color: #000000;
}

.add-player-page .add-player-body,
.add-player-page .add-team-body,
.add-team-page .add-player-body,
.add-team-page .add-team-body {
  position: relative;
  width: 100%;
  height: 611px;
  padding: 10px;
  background-color: #000000;
}
.add-player-page .add-player-body hr,
.add-player-page .add-team-body hr,
.add-team-page .add-player-body hr,
.add-team-page .add-team-body hr {
  margin-bottom: 10px;
}
.add-player-page .add-player-body input,
.add-player-page .add-team-body input,
.add-team-page .add-player-body input,
.add-team-page .add-team-body input {
  border: none;
  outline: none;
  color: #ffffff;
  background-color: #000000;
  font-size: 1rem;
}
.add-player-page .add-player-body .bottomBtn,
.add-player-page .add-team-body .bottomBtn,
.add-team-page .add-player-body .bottomBtn,
.add-team-page .add-team-body .bottomBtn {
  position: absolute;
  bottom: 5px;
  display: block;
  width: 50%;
  padding: 10px 0;
  text-align: center;
  color: #ffffff;
  background-color: #1751e2;
  cursor: pointer;
}
.add-player-page .add-player-body #cancelBtn,
.add-player-page .add-team-body #cancelBtn,
.add-team-page .add-player-body #cancelBtn,
.add-team-page .add-team-body #cancelBtn {
  left: 0;
}
.add-player-page .add-player-body #okBtn,
.add-player-page .add-team-body #okBtn,
.add-team-page .add-player-body #okBtn,
.add-team-page .add-team-body #okBtn {
  right: 0;
}

.select-team-page .select-team-body {
  position: relative;
  width: 100%;
  height: 611px;
  padding: 10px;
  background-color: #000000;
}

.start-match-page {
  width: 100%;
  min-height: 611px;
  background-color: #000000;
}
.start-match-page .start-match-body {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  width: 100%;
  padding: 10px;
  background-color: #000000;
}
.start-match-page .start-match-body .player-box {
  min-width: 48%;
  height: 175px;
  text-align: center;
  background-color: #222222;
}
.start-match-page .start-match-body .player-box .player-name-box {
  width: 100%;
  padding: 5px 0;
  border: 1px solid #ccc;
  background-color: #141414;
}
.start-match-page .start-match-body .player-box .legs-box {
  padding: 5px 0;
}
.start-match-page .start-match-body .player-box .player-score-box {
  width: 90%;
  margin: auto;
  padding: 5px 0;
  border: 1px solid #000;
  border-radius: 10px;
  background-color: #1751e2;
  font-size: 2rem;
}
.start-match-page .start-match-body .player-box .to-play-box {
  padding: 5px 0;
}
.start-match-page .start-match-body .current-player .player-name-box {
  color: greenyellow;
  border-color: greenyellow;
}
.start-match-page .start-match-keyboard {
  position: relative;
  width: 100%;
}
.start-match-page .start-match-keyboard table,
.start-match-page .start-match-keyboard td {
  border: 5px solid #000000;
  border-collapse: collapse;
  background-color: #1751e2;
}
.start-match-page .start-match-keyboard table {
  max-width: 500px;
  height: 200px;
  margin: auto;
  text-align: center;
  font-size: 1.5rem;
}
.start-match-page .start-match-keyboard table td {
  width: 150px;
  cursor: pointer;
}
.start-match-page .start-match-keyboard table td:hover {
  color: #000000;
}
.start-match-page .start-match-keyboard table td:active {
  position: relative;
  top: 1px;
  left: 1px;
}

.add-team-page .selected-player-box {
  position: relative;
}
.add-team-page .selected-player-box p {
  color: #ffffff;
}
.add-team-page label {
  font-weight: bold;
  cursor: pointer;
}
.add-team-page input {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 20px;
  height: 20px;
  accent-color: var(--background-color);
  cursor: pointer;
}

.my-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  text-align: center;
  color: #ffffff;
  background-color: #1751e2;
}
.my-footer span {
  text-shadow: 1px 1px 1px #ffffff;
}
.my-footer span:hover {
  color: #198754;
}

@media all and (min-width: 576px) {
  .my-header {
    position: relative;
    width: 550px;
    margin: auto;
  }
  .home-page {
    width: 550px;
    height: 808px;
    margin: auto;
  }
  .new-match-page,
  .select-player-page,
  .select-team-page,
  .add-player-page,
  .add-team-page,
  .start-match-page {
    width: 550px;
    min-height: 808px;
    margin: auto;
  }
  .new-match-body {
    height: 694px !important;
    margin: auto;
  }
  .select-team-body,
  .select-player-body,
  .add-team-body,
  .add-player-body {
    height: 808px !important;
  }
  .new-match-body-header {
    border: 5px solid #000000;
    margin: 0 auto 5px;
  }
  #start-match-btn {
    width: 90% !important;
    margin: 0 auto 5px;
  }
  .bottomBtn {
    width: 40% !important;
  }
  .new_match,
  .menage_players {
    border-left: 5px solid #000000;
  }
  .resume_match,
  .menage_teams {
    border-right: 5px solid #000000;
  }
  aside {
    border-right: 5px solid #000000;
    border-left: 5px solid #000000;
  }
  .length-div-content input {
    text-align: right !important;
  }
}