@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  position: relative;
  min-height: 100vh;
  padding-bottom: 60px;
  font-family: $font-family;
  font-size: $font-size;
  font-weight: $font-weight;
  line-height: $line-height;
  color: $body-color;
  background-color: $body-bg;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  user-select: none;
  scroll-behavior: smooth;
  a {
    text-decoration: none;
    color: inherit;
  }
  ul {
    li {
      list-style: none;
    }
  }
}